<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="My personal webpage">
  <meta name="author" content="Simon Esposito">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>Simon Esposito | Developer</title>

  <!-- Bootstrap core CSS -->
<<<<<<< HEAD
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/styles.css" rel="stylesheet">
  <link href="stylesheets/custom.css" rel="stylesheet">
=======
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- MDL css -->
  <link rel="stylesheet" href="stylesheets/material.min.css">

  <!-- Custom styles for this template -->
  <link  rel="stylesheet" href="stylesheets/custom.css">
  
>>>>>>> lastfm

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="site-wrapper">

<<<<<<< HEAD
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#link-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Simon Esposito | Developer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="link-collapse">

          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About me</a></li>
            <li><a href="#">Projects</a></li>
          </ul> -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- <div class="cover">
      <div class="row">
        <div class="col-sm-4 text-left">
          <img class="img-circle cover-img" src="images/myself.jpg" alt="Simon Esposito Picture">
        </div>
        <div class="col-sm-8 text-left">
          <p class="lead short-bio">I have a MSc in communication networks engineering and am a back-end developer with linux skills and an interest in security.<br></p>
        </div>
      </div>
    </div> -->

=======
>>>>>>> lastfm

    <div class="row">

      <!--About me panel-->
      <div class="col-sm-6 col-md-8">
<<<<<<< HEAD
        <div class="panel panel-default">
          <div class="panel-heading text-left"><h4>About Me</h4></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img class="img-circle cover-img" src="images/myself.jpg" alt="Simon Esposito Picture">
              </div>
              <div class="col-sm-12 col-md-8">
                <p class="text-left">My name is Simon and I'm a back-end developer (mostly) with linux skills and an interest in security. I recently finished my MSc in Telecommunications and Informatics Engineering <a href="http://tecnico.ulisboa.pt/">@IST</a> with a major in Network and services management.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading text-left"><h4>What I'm Listening to</h4></div>
          <div class="panel-body" style="background-color: black;">
            <div class="row">
              <div class="col-sm-12 col-md-12 text-left">

                <% if(Object.keys(musicInfo).length === 0){ %>

                  <h5>No Track Info from Last.fm</h5>

                <% }else{ %>

                  <h5><%= 'Track: '+ musicInfo.track %></h5>
                  <h5><%= 'Artist: '+ musicInfo.artist %></h5>
                  <div class="text-center">
                    <img src="<%= musicInfo.imageUrl %>" alt="album cover"></img>
                  </div>

                <% } %>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!--More info panel-->
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-left"><h4>More info</h4></div>
          <div class="panel-body more-info-body" style="background-color: black;">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <a href="https://github.com/sesposito"><img class="social-img" src="images/github.png" alt="github"></a>
              </div>
              <div class="col-xs-3 col-md-3 text-center">
                <a href="https://pt.linkedin.com/in/espositosimon"><img class="social-img" src="images/linkedin.png" alt="linkedin"></a>
              </div>
              <div class="col-xs-3 col-md-3 text-center">
                <a href="http://www.last.fm/user/s_mn"><img class="social-img" src="images/lastfm.png" alt="lastfm"></a>
              </div>
              <div class="col-xs-3 col-md-3 text-center">
                <a href="https://twitter.com/s_m_n"><img class="social-img" src="images/twitter.png" alt="twitter"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading text-left"><h4>What I'm Listening to</h4></div>
          <div class="panel-body" style="background-color: black;">
            <div class="row">
              <div class="col-sm-12 col-md-12 text-left">

                <% if(Object.keys(musicInfo).length === 0){ %>

                  <h5>No Track Info from Last.fm</h5>

                <% }else{ %>

                  <h5><%= 'Track: '+ musicInfo.track %></h5>
                  <h5><%= 'Artist: '+ musicInfo.artist %></h5>
                  <div class="text-center">
                    <img src="<%= musicInfo.imageUrl %>" alt="album cover"></img>
                  </div>

                <% } %>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div> <!--/site-wrapper-->





  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <!-- socket.io -->
  <script src="javascripts/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
=======
        <div class="mdl-card">

          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3>About Me</h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--black">
            <div>

              <div class="col-sm-4">
                <img class="img-circle cover-img" src="images/myself2.jpg" alt="Simon Esposito Picture">
              </div>
              <div class="col-sm-8">
                <p class="text-left short-bio">Hey there! My name is Simon and I'm a back-end developer with linux skills and an interest for security. I recently finished my MSc in Telecommunications and Informatics Engineering <a href="http://tecnico.ulisboa.pt/">@IST</a></p>
              </div>


            </div>
          </div>
          
        </div>
      </div>

      <!--Reach me panel-->
      <div class="col-sm-6 col-md-4">
        <div class="mdl-card">
        <div class="mdl-card__media mdl-color-text--grey-50" style="background-color: grey;">
            <h3>Reach Me</h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--black">
            <div class="row reach-me">

              <h5><a href="mailto:esposito.simon@gmail.com">Send me an <i class="fa fa-envelope-o"></i></a>,</h5>
              <h5><a href="https://pt.linkedin.com/in/espositosimon">check out my <i class="fa fa-linkedin-square"></i></a>,</h5>
              <h5><a href="https://twitter.com/s_m_n">or <i class="fa fa-twitter-square"></i> me @s_m_n</a></h5>

            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="mdl-card">

      <div class="mdl-card__media mdl-color-text--grey-50">
        <h3>Experience</h3>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--black">
        <div class="row" style="padding-top: 20px">

          <div class="col-sm-10">

            <p style="font-size:120%;">2013 - Present | EU <a href="https://www.eid-stork2.eu/">STORK2.0</a> Portuguese Academic Pilot @IST</p> 
          </div>

          <div class="col-sm-2" style="padding-left: 0;">
            <a href="https://github.com/STORK2/TADS"><i class="fa fa-github-square fa-2x"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="mdl-card">

      <div class="mdl-card__media mdl-color-text--grey-50">
        <h3>Projects</h3>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--black">
        <div class="row" style="padding-top: 20px">

          <div class="col-sm-10">

            <p style="font-size:120%;">Check out my <a href="https://github.com/sesposito">GitHub</a></p> 
          </div>

          <div class="col-sm-2" style="padding-left: 0;">
            <a href="https://github.com/sesposito"><i class="fa fa-github-square fa-2x"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>




</div>
</div><!--/site-wrapper-->



<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<!-- socket.io -->
<script src="javascripts/socket.io.js"></script>
<script>
  var socket = io();
</script>
>>>>>>> lastfm
</body>
</html>
